<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>97031438301-u7o59b5e238d6f25srb7c9tm1f9cscbl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.97031438301-u7o59b5e238d6f25srb7c9tm1f9cscbl</string>
	<key>API_KEY</key>
	<string>AIzaSyAqMJRmPUPn1MqjBHOEB8uv6XbjGmH7F5U</string>
	<key>GCM_SENDER_ID</key>
	<string>97031438301</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>udacity.FinalProject</string>
	<key>PROJECT_ID</key>
	<string>finalproject-e78eb</string>
	<key>STORAGE_BUCKET</key>
	<string>finalproject-e78eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:97031438301:ios:491d8bffa4cee37a</string>
	<key>DATABASE_URL</key>
	<string>https://finalproject-e78eb.firebaseio.com</string>
</dict>
</plist>